﻿@using Microsoft.AspNetCore.Mvc.Localization
@model MyInstagram.ViewModels.AddPostViewModel
@inject IViewLocalizer Localizer;

@{
    Layout = "_Layout";
}

<h2>@Localizer["AddPost"]</h2>
<form asp-action="Add" asp-controller="Post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly"></div>
    <input type="hidden" asp-for="UserName" value="@User.Identity.Name" />

    <div class="form-group">
        <label asp-for="Image" class="custom-file-input">@Localizer["Image"]</label>
        <input type="file" asp-for="Image" class="form-control-file">
        <span asp-validation-for="Image"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="custom-file-input">@Localizer["Description"]</label>
        <textarea asp-for="Description" class="form-control"> </textarea>
    </div>
    <input type="submit" class="btn btn-success" value=@Localizer["Add"] />
</form>
@section scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
