﻿@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@using MyInstagram.ViewModels
@model MyInstagram.ViewModels.UserViewModel
@inject ApplicationContext Context;
@inject UserManager<User> UserManager;
@inject IViewLocalizer Localizer;
<div>
    <div class="text-center row border-bottom mb-4">
        <div class="col-lg-3 d-flex">
            <img class="rounded-circle" width="200" height="200" src="~/@Model.AvatarImagePath" alt="Avatar"/>
        </div>
        <div class="col-lg-9 d-flex row">
            <div class="col-lg-12 text-left mb-3">
                <h3>@Model.UserName</h3>
                @if (User.Identity.IsAuthenticated)
                {
                    if (Context.Followers.Any(f => f.FollowerUserId == @Model.Id &&
                                                   f.FollowingUserId == @UserManager.GetUserId(User)))
                    {
                        <a class="follow-btn btn btn-outline-danger"
                           onclick="follow('@Model.Id', '@UserManager.GetUserId(User)')">@Localizer["Unfollow"]</a>
                    }
                    else
                    {
                        <a class="follow-btn btn btn-outline-primary"
                           onclick="follow('@Model.Id', '@UserManager.GetUserId(User)')">@Localizer["Follow"]</a>
                    }
                }
            </div>
            <div class="row col-lg-12 text-left">
                <p class="col-lg-3 font-weight-bold"><span class="font-weight-normal">@Localizer["Publications"]</span> @Model.Posts.Count</p>
                <p class="col-lg-3 font-weight-bold" id="followers">
                    <span class="font-weight-normal">@Localizer["Followers"]</span> <span id="@UserManager.GetUserId(User)">@Model.Followers.Count</span>
                </p>
                <p class="col-lg-3 font-weight-bold"><span class="font-weight-normal">@Localizer["Following"] </span>@Model.Following.Count</p>
            </div>
            <div class="col-lg-12 text-left font-weight-bold">
                <p>@Model.Name</p>
            </div>

            <div class="col-lg-12 text-left">
                <p class="">@Model.AboutMe</p>
            </div>
        </div>

    </div>
    <div class="row">
        @foreach (var post in @Model.Posts)
        {
            <div class="col-lg-4">
                <img width="300" height="300" src="~/@post.PublicationImagePath" alt="Post" />
                <span>@Localizer["Description"] @post.Description</span>
                <div>
                    @{
                        if (User.Identity.IsAuthenticated)
                        {
                            await Html.RenderPartialAsync("PartialViews/CommentPartial", new CommentViewModel(post.Id));
                        }
                    }
                </div>
                <span class="d-flex ">
                    @{
                        if (User.Identity.IsAuthenticated)
                        {
                            
                            await Html.RenderPartialAsync("PartialViews/LikePartial", new AddLikeViewModel(post.Id));
                        }
                    }
                </span>
            </div>
        }
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
   $('.follow-btn').on('click', function f() {
      if ($(this).text()==="Follow" || $(this).text()==="Подписаться" )
         {
             $(this).text('@Localizer["Unfollow"]').removeClass('btn-outline-primary').addClass('btn-outline-danger');
         }else{
             $(this).text('@Localizer["Follow"]').removeClass('btn-outline-danger').addClass('btn-outline-primary');
         }
   });
    
    function follow(followerId, followingId) {
        $.ajax({
            url: '@Url.Action("Follow", "User")',
            method: 'POST',
            data: {
                'followerId': followerId,
                'followingId': followingId
            },
            success: function(data) {
                $('#' + followingId).text(data);
            }
        });
    }
</script>