﻿@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@using MyInstagram.ViewModels
@model UserViewModel
@inject ApplicationContext Context
@inject UserManager<User> UserManager
@inject IViewLocalizer Localizer;

@{
    Layout = "_Layout";
}
<input type="hidden" value="@User.Identity.Name"  asp-for="UserName"/>
    <div class="text-center row border-bottom mb-4">
        <div class="col-lg-3 d-flex">
            <img class="rounded-circle" width="200" height="200" src="~/@Model.AvatarImagePath" alt="Avatar" />
        </div>
        <div class="col-lg-9 d-flex row">
            <div class="col-lg-12 text-left mb-3">
                <h3 >@Model.UserName</h3>
            </div>
            <div class="row col-lg-12 text-left">
                <p class="col-lg-3 font-weight-bold"><span class="font-weight-normal" id="@UserManager.
                    GetUserId(User)">@Localizer["Publications"]</span>  @Model.Posts.Count</p>
                <p class="col-lg-3 font-weight-bold"><span class="font-weight-normal">@Localizer["Followers"]</span> @Model.Followers.Count</p>
                 <p class="col-lg-3 font-weight-bold"><span class="font-weight-normal">@Localizer["Following"]</span> @Model.Following.Count</p>
            </div>
            <div class="col-lg-12 text-left font-weight-bold">
                <p>@Model.Name</p>
            </div>
           
            <div class="col-lg-12 text-left">
                <p class="">@Model.AboutMe</p>
                <a class="btn btn-outline-primary mt-2 mb-4" 
                   asp-action="AddPost" asp-controller="Post">@Localizer["AddPost"]</a>
            </div>
        </div>
    </div>
<div class="row">
    @foreach (var post in @Model.Posts)
    {
        <div class="col-lg-4 @post.Id">
            <img width="300" height="300" src="~/@post.PublicationImagePath" alt="Post" id="img-@post.Id"/>
            <a style="cursor: pointer" id="desc-@post.Id" onclick="editDesc('@post.Id')">@Localizer["Description"] @post.Description</a>
            <input class="form-group" type="text" style="display: none" id="desc-input-@post.Id" />
            <button class="btn btn-sm btn-outline-warning" style="display: none" id="submit-desc-@post.Id" 
                    onclick="submitDesc('@post.Id')">@Localizer["Edit"]</button>
            <div>
                @{
                    if (User.Identity.IsAuthenticated)
                    {
                        await Html.RenderPartialAsync("PartialViews/CommentPartial", new CommentViewModel(post.Id));
                    }
                        
                }
            </div>
            <div>
                <span class="d-flex">
                    @{
                        if (User.Identity.IsAuthenticated)
                        {
                            await Html.RenderPartialAsync("PartialViews/LikePartial", new AddLikeViewModel(post.Id));
                        }
                    }

                </span>
            </div>
            <button class="btn btn-danger" type="button" 
                    onclick="deletePost('@post.Id', '@UserManager.GetUserId(User)')">
                @Localizer["Delete"]
            </button>
        </div>
    }
</div>
<script>
    function deletePost(postId, modelId) {
        $.ajax({
            url: '@Url.Action("Delete", "Post")',
            method: 'POST',
            data: {
                'postId': postId
            },
            success: function () {
                $('.' + postId).remove();
            }
        });
    }

    function editDesc(postId) {
        $('#desc-input-' + postId).show();
        $('#submit-desc-' + postId).show();
    };
    function submitDesc(postId) {
        $.ajax({
            url: '@Url.Action("EditDescription", "Post")',
            method: 'POST',
            data: {
                'postId': postId,
                'content': $('#desc-input-' + postId).val()
            },
            success: function(data) {
                $('#desc-' + postId).text('@Localizer["Description"]' + data);
                $('#desc-input-' + postId).hide();
                $('#submit-desc-' + postId).hide();
            }
        });
    }
</script>
    
