﻿@using Microsoft.AspNetCore.Mvc.Localization
@model MyInstagram.ViewModels.LogInViewModel
@inject IViewLocalizer Localizer;
@{
    Layout = "_Layout";
}

<div class="container">
<div class="row main-form">
    <form class="" method="post" asp-controller="User" asp-action="LogIn">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <label for="" class="cols-sm-2 control-label">@Localizer["Username"]</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <input asp-for="UserName" placeholder=@Localizer["EnterName"] class="form-control">
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="" class="cols-sm-2 control-label">@Localizer["Password"]</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <input type="password" asp-for="Password" placeholder=@Localizer["Password"] class="form-control">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group ">
            <button type="submit" class="btn btn-success btn-lg btn-block login-button">@Localizer["Login"]</button>
        </div>
    </form>
</div>
</div>
