﻿@model MyInstagram.ViewModels.RegisterUserViewModel
@inject IViewLocalizer Localizer;
@using Microsoft.AspNetCore.Mvc.Localization
@using MyInstagram.Enums
@{
    Layout = "_Layout";
}
<div class="container">
    <div class="row main-form">
        <form class="" method="post" asp-controller="User" asp-action="Register" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label for="" class="cols-sm-2 control-label">@Localizer["YourUserName"]</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <input asp-for="UserName" placeholder=@Localizer["EnterName"] class="form-control">
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="" class="cols-sm-2 control-label">@Localizer["YourEmail"]</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <input asp-for="Email" placeholder="example@mail.com" class="form-control">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="" class="cols-sm-2 control-label">@Localizer["Password"]</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <input type="password" asp-for="Password" placeholder=@Localizer["Password"] class="form-control">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="" class="cols-sm-2 control-label">@Localizer["ConfirmPassword"]</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <input type="password" asp-for="ConfirmPassword" 
                               placeholder=@Localizer["ConfirmPassword"] class="form-control">
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="" class="cols-sm-2 control-label">@Localizer["YourName"]</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <input asp-for="Name" placeholder=@Localizer["EnterYourName"] class="form-control">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="password" class="cols-sm-2 control-label">@Localizer["PhoneNumber"]</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <input type="number" asp-for="PhoneNumber" placeholder=@Localizer["PhoneNumber"] class="form-control">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="" class="cols-sm-2 control-label">@Localizer["Gender"]</label>
                <div class="cols-sm-10">
                    <select class="form-control" asp-for="Gender">
                        <option class="form-control" value=@GenderType.Male>@Localizer["GenderTypeMale"]</option>
                        <option class="form-control" value=@GenderType.Female>@Localizer["GenderTypeFemale"]</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="AboutMe" class="cols-sm-2 control-label">@Localizer["AboutMe"]</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <textarea type="text" asp-for="AboutMe" placeholder=@Localizer["AboutMe"] class="form-control"></textarea>
                        <span asp-validation-for="AboutMe"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Avatar" class="">@Localizer["Avatar"]</label>
                <input type="file" asp-for="Avatar" class="form-control-file">
                <span asp-validation-for="Avatar"></span>
            </div>

            <div class="form-group ">
                <button type="submit" class="btn btn-success btn-lg btn-block login-button"> @Localizer["Register"]</button>
            </div>
        </form>
    </div>
</div>

@section scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
