﻿@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@model MyInstagram.ViewModels.CommentViewModel
@inject UserManager<User> UserManager
@inject ApplicationContext Context
@inject IViewLocalizer Localizer;
@{
    var user = await UserManager.FindByNameAsync(User.Identity.Name);
}

<div class="form-group col-lg-12">
    <input class="form-control border-0" id="postText-@Model.PublicationId" placeholder=@Localizer["CommentPlaceholder"] />
    <button class="btn btn-outline-dark" type="button" 
            onclick="addComment('@Model.PublicationId', '@user.Id')">@Localizer["AddComment"]</button>
</div>
<div class="col-lg-12">
    <h6 id="app-@Model.PublicationId">@Localizer["Comments"]</h6>
    @{
        List<Comment> comments = Context.Comments.Where(c => c.PublicationId == @Model.PublicationId).ToList();
        foreach (var comment in comments.TakeLast(3).OrderByDescending(c => c.Date))
        {
            <span ></span>
            <p > <span class="font-weight-bold">@comment.UserName</span> : @comment.CommentMessage</p>
        }
    }
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    function addComment(publicationId, userId) {
        $.ajax({
            url: '@Url.Action("Add", "Comment")',
            method: 'POST',
            data: {
                'publicationId': publicationId,
                'userId': userId,
                'commentMessage': $('#postText-' + publicationId).val()
            },
            success: function () {
                $('#app-' + publicationId).
                append('<p>' 
                + '<span class="font-weight-bold">@User.Identity.Name</span> : ' 
                + $('#postText-' + publicationId).val() + '</p>');
                $('#postText-' + publicationId).val(null);
            }
            }
        );
    };
</script>


