﻿@using Microsoft.AspNetCore.Identity;
@model MyInstagram.ViewModels.AddLikeViewModel
@inject UserManager<User> UserManager
@inject ApplicationContext Context
@{
    var user = await @UserManager.FindByNameAsync(User.Identity.Name);
}

@if (User.Identity.IsAuthenticated)
{ <form>
    <button class="btn btn-link table-hover"
            type="button"
            onclick="sendLike('@Model.PublicationId', '@user.Id')"
            id="@Model.Id">
        ❤
    </button>
</form>
}
<span id="@Model.PublicationId">
</span>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(function(){
        $('#@Model.PublicationId')
        .load('@Url.Action("Counter", "Like", new { postId = @Model.PublicationId })');
    });

    function sendLike(publicationId, userId) {
        $.ajax({
                url: '@Url.Action("Add", "Like")',
                method: 'POST',
                data: {
                    'publicationId': publicationId,
                    'userId': userId
                },
            success: function (data) {
                $('#'+publicationId).text(data);
            }
            }
        );
    };
</script>


