﻿@model List<User>
<div id="searchresults" class="d-flex flex-column w-100">
    @if (@Model.Count > 0)
    {
        foreach (var user in Model)
        {
            <div class=" py-2">
                <img width="50" height="50" class="rounded-circle" src="~/@user.AvatarImagePath" /> 
                <a class="col-lg-4" asp-action="Details" asp-controller="User" 
                   asp-route-userId="@user.Id">@user.UserName</a>
            </div>
        }
    }
</div>