﻿@using Microsoft.AspNetCore.Mvc.Localization
@using MyInstagram.ViewModels
@model IEnumerable<Post>
@inject ApplicationContext Context;
@inject IViewLocalizer Localizer;

<div class="row d-flex justify-content-center align-items-center">
    @foreach (var post in Model.OrderByDescending(p => p.Date))
    {
    <div class="col-lg-12 flex-column d-flex align-items-center justify-content-center border-top border-bottom">
        <div class="row d-flex justify-content-between border mt-4">
            <a class="btn btn-outline-primary h-25" 
               asp-controller="User" 
               asp-action="Details" 
               asp-route-userId="@post.UserId">@post.UserName</a>
            <img width="300" height="300" src="~/@post.PublicationImagePath" alt="Post"/>
            <div >
                <h6 class="text-center">@Localizer["Description"] @post.Description</h6>
                @{
                    if (User.Identity.IsAuthenticated)
                    {
                        await Html.RenderPartialAsync("PartialViews/CommentPartial", new CommentViewModel(post.Id));
                    }
                }

                <div class="d-flex">
                    @{
                        if (User.Identity.IsAuthenticated)
                        {
                            await Html.RenderPartialAsync("PartialViews/LikePartial", new AddLikeViewModel(post.Id));
                        }
                    }

                </div>
            </div>
        </div>
    </div>
    }
</div>